<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="flex items-center mb-10 px-10 py-6">
    <h1 class="text-2xl">Регистер институтов</h1>
    <div class="ml-auto space-x-4">
        <a th:href="@{/home}">
            <button type="button" class="font-medium text-blue-600 hover:underline">Главная страница</button>
        </a>
        <a th:href="@{/university/new}">
            <button type="button" class="font-medium text-blue-600 hover:underline">Добавить новый институт</button>
        </a>
    </div>
</header>

<div class="container mx-auto px-10">
    <div class="mb-10 flex flex-col items-center">
        <h2 class="text-l">Добро пожаловать в наш регистер институтов!</h2>
        <p th:text="${message}"></p>
    </div>

    <p class="text-xl font-bold mb-4">Список институтов</p>
    <div class="mb-10 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">Название</th>
                    <th scope="col" class="px-6 py-3">Местоположение</th>
                    <th scope="col" class="px-6 py-3">Год основания</th>
                    <th scope="col" class="px-6 py-3">Описание</th>
                    <th scope="col" class="px-6 py-3">Количество студентов</th>
                </tr>
            </thead>
            <tbody th:if="${universities.size() != 0}" th:each="university: ${universities}">
                <tr class="bg-white border-b hover:bg-gray-50">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" th:text="${university.name}"></td>
                    <td class="px-6 py-4" th:text="${university.location}"></td>
                    <td class="px-6 py-4" th:text="${university.foundationYear}"></td>
                    <td class="px-6 py-4" th:text="${university.description}"></td>
                    <td class="px-6 py-4" th:text="${university.totalStudents}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex flex-col items-center">
        <p class="mb-10 text-stone-800 font-bold" th:if="${universities.size() == 0}">
            Список институтов пуст
        </p>
    </div>

    <a th:href="@{/university/new}">
        <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5">
            Добавить институт
        </button>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>