<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить институт</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="flex items-center mb-10 px-10 py-6">
    <h1 class="text-2xl">Регистер институтов</h1>
    <div class="ml-auto space-x-4">
        <a th:href="@{/home}">
            <button type="button" class="font-medium text-blue-600 hover:underline">Главная страница</button>
        </a>
        <a th:href="@{/university/new}">
            <button type="button" class="font-medium text-blue-600 hover:underline">Добавить новый институт</button>
        </a>
    </div>
</header>

<div class="container mx-auto px-10">
    <p class="text-xl font-bold mb-4">Добавление института</p>

    <form class="space-y-6" th:action="@{/university/new}" th:object="${university}" method="post">
        <div>
            <label
                th:class="${#fields.hasErrors('name')
                    ? 'block mb-2 text-sm font-medium text-red-700'
                    : 'block mb-2 text-sm font-medium text-gray-900'
                }"
            >Название института</label>
            <input
                th:field="*{name}"
                type="text"
                placeholder="Введите название"
                th:class="${#fields.hasErrors('name')
                    ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full'
                    : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full'
                }"
            >
            <p th:if="${#fields.hasErrors('name')}" class="mt-2 text-sm text-red-600" th:errors="*{name}"></p>
        </div>

        <div>
            <label
                th:class="${#fields.hasErrors('location')
                    ? 'block mb-2 text-sm font-medium text-red-700'
                    : 'block mb-2 text-sm font-medium text-gray-900'
                }"
            >Местоположение</label>
            <input
                th:field="*{location}"
                type="text"
                placeholder="Введите местоположение"
                th:class="${#fields.hasErrors('location')
                    ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full'
                    : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full'
                }"
            >
            <p th:if="${#fields.hasErrors('location')}" class="mt-2 text-sm text-red-600" th:errors="*{location}"></p>
        </div>

        <div>
            <label
                th:class="${#fields.hasErrors('foundationYear')
                    ? 'block mb-2 text-sm font-medium text-red-700'
                    : 'block mb-2 text-sm font-medium text-gray-900'
                }"
            >Год основания</label>
            <input
                th:field="*{foundationYear}"
                type="number"
                min="0"
                placeholder="Введите год основания"
                th:class="${#fields.hasErrors('foundationYear')
                    ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full'
                    : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full'
                }"
            >
            <p th:if="${#fields.hasErrors('foundationYear')}" class="mt-2 text-sm text-red-600" th:errors="*{foundationYear}"></p>
        </div>

        <div>
            <label
                th:class="${#fields.hasErrors('description')
                    ? 'block mb-2 text-sm font-medium text-red-700'
                    : 'block mb-2 text-sm font-medium text-gray-900'
                }"
            >Описание (опиционально)</label>
            <input
                th:field="*{description}"
                type="text"
                placeholder="Введите описание"
                th:class="${#fields.hasErrors('description')
                    ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full'
                    : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full'
                }"
            >
            <p th:if="${#fields.hasErrors('description')}" class="mt-2 text-sm text-red-600" th:errors="*{description}"></p>
        </div>

        <div>
            <label
                th:class="${#fields.hasErrors('totalStudents')
                    ? 'block mb-2 text-sm font-medium text-red-700'
                    : 'block mb-2 text-sm font-medium text-gray-900'
                }"
            >Количество студентов</label>
            <input
                th:field="*{totalStudents}"
                type="number"
                min="0"
                placeholder="Введите количество студентов"
                th:class="${#fields.hasErrors('totalStudents')
                    ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full'
                    : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full'
                }"
            >
            <p th:if="${#fields.hasErrors('totalStudents')}" class="mt-2 text-sm text-red-600" th:errors="*{totalStudents}"></p>
        </div>

        <button type="submit" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5">
            Добавить институт
        </button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>